.destinatioDropdown{
    background-color: #00ABE7;
    border-radius: 10px;
    /* From */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
border: none;
width: 100%;
text-align: center;
padding-top: 3%;
padding-bottom: 3%;
margin-bottom: 5%;
outline: none;
}

.desDiv{
    width: 90%;
    
}
.destinatioDropdown:hover{
    background-color: #4ab99f;
}
.destinatioDropdown:focus{
    border: none;
}
.InstructionDisplay{
    background: #65BCDB;
    width: 90%;
    border-radius: 10px;
    border: none;
flex-grow: 1;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
outline: none;
margin-bottom: 3%;

}

.AdvanceDiv{
    display: flex;
    gap: 20px;
}

.AdvanceBtn{
    background-color: #49D368;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 50px; 
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
outline: none;
}
.AdvanceBtn:active{
    background-color: #1fa43c;
}


.progressLabel{
    background-color: #EABA6B;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 50px; 
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
outline: none;
text-align: center;
justify-content: center;
margin: auto;
display: flex;
align-items: center;
}

